.avatar.enabled input {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}
.avatar.enabled {
    position: relative;
    cursor: pointer;
}
.avatar input {
    display: none;
}
.avatar {
    width: 300px;
    height: 300px;
}
.avatar img {
    width: 100%;
    display: block;
}